@use './variables' as *;

h1 {
    span {
        color: $green;
    }
}

.smooth-scroll {
    scroll-behavior: smooth;
}

/*
container per gestire la disposizione 
del contenuto di tutte le sezioni
*/
.container-box {
    width: 100%;
    height: 100%;
}

/* classe per far capire all'utente
se un link può essere cliccato
*/
a {
    font-size: 25px;
    color: $white !important;
    transition: ease-in-out 0.3s;

    &:hover {
        color: $green !important;
        transition: ease-in-out 0.5s;
    }
}